      - name: React to confirm dispatch
        if: success()
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          COMMENT_ID: ${{ github.event.comment.id }}
          REPO: ${{ github.repository }}
        run: |
          gh api "repos/$REPO/issues/comments/$COMMENT_ID/reactions" \
            -X POST -f content='rocket'
